<!DOCTYPE html>
<html>
    {{- partial "head/head.html" . -}}
    {{- partial "header/site-header.html" . -}}
    {{- partial "header/site-nav.html" . -}}

        <div id="content" class="py-0">
            <aside>
                <nav>
                    <button class="btn p-0 menu-trigger"><span class="fas fa-bars fa-2x"></span></button>
                </nav>
            </aside>
            {{- block "content" . }}{{- end }}
          <aside id="menu" class="col-lg-3 col-xxl-2 p-3 bg-white shadow">
          {{ partial "blocks/menu" . }}
          </aside>
      </div>

        {{ partial "footer/site-footer" . }}
        {{- partial "footer/brown-footer.html" . -}}
        {{- partial "footer/scripts.html" . -}}
        {{ template "_internal/google_analytics.html" . }}
</html>
