{{ define "content"}}

{{ $current_section := .Section }}
<section id="hero" class=" bg-light vh-40">
    <div class="p-10  row align-items-start">

        <div class="col-md-8 d-flex flex-column">


        <p class="fs-40 text-dark h3">{{ .Params.hero.lead }}</p>
        <div class="row d-flex">
          <h1 class="text-dark section-title">
            {{ readFile ( printf "/themes/gb-theme/static/images/iso-%s.svg" .Section ) | safeHTML }}
          </h1>

        </div>
        </div>
    </div>
    <div class="row ">

    </div>
</section>

  <div class="container py-10">
    <div class="row justify-content-center">
      <div class="col-md-12">

      {{ range $key, $value := .Site.Taxonomies.category }}
      {{ range first 1 $value.Pages }}
      {{ if eq .Section $current_section }}
        <header class="d-flex align-items-center">
          <span class="btn-{{ if eq .Section `resources`}}yellow{{else if eq .Section `services`}}primary{{end}} btn-ico btn-lg btn-rounded"><i class="icon-{{ .Params.icon }} fs-40"></i></span>
          <h1 class="mx-4 text-secondary">{{ humanize $key }}</h1>
          <hr class="bg-dark w-40"/>
        </header>
        <article class="d-flex py-6 justify-content-between flex-wrap">
          {{ range where $.Site.Pages "Section" $current_section}}
          {{ if eq (.Params.category | urlize) $key }}
          {{ $weight := .Params.weight }}
          <div class="col-md-6 py-3">
            <div class="card p-4 lift">
              <h1>{{ .Title | markdownify }}</h1>
              <hr class="bg-primary">
              <p class="fs-20">{{ .Params.lead | markdownify }}</p>
              <p><a href="{{.Permalink}}" class="eyebrow link text-primary mt-3">Learn More</a></p>
            </div>
          </div>
          {{ end }}
          {{ end }}
      </article>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>

</section>



{{ end }}
