{{ define "content" }}

<div id="hero-list" class=" bg-green text pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex flex-column pt-6 pb-10">
          <h1 class="fs-60"> {{ humanize .Title }} </h1>
          <p class="fs-30 text-beige">{{ .Params.lead }}</p>

        </div>
    </div>
</div>
</div>

<section id="section-1" class="bg-light">



  <div class="container py-10">
    <div class="row justify-content-center">
      <div class="col-md-9">

      {{ .Content  }}
    </div>
  </div>
</div>

</section>

{{ end }}
