<!doctype html>
{{- partial "head/head.html" . -}}
{{- partial "header/site-header.html" . -}}
<body lang="en" id="top"  data-spy="scroll" data-offset="0"  data-target="#TableOfContents">

<section class="py-0">
  <div class="container-fluid">
    <div class="row justify-content-between">

      <!-- navigation -->
      {{- block "navigation" . }}{{- end}}
      <!-- / navigation -->
      <!-- content -->
      <article class="col-lg-9 col-xxl-10 doc-content">

        <div class="row justify-content-between doc-content-body">
          <article class="col-md-9 col-xxl-8">
            {{- block "content-body" . }}{{- end }}
          </article>
          <aside class="col-md-3 col-xxl-3 d-none d-md-block">
            <div class="sticky">
              {{ .TableOfContents }}
            </div>
          </aside>
        </div>
      </article>
      <!-- / content -->
    </div>
  </div>
</section>

<!-- footer -->
{{- partial "footer/site-footer" . -}}
<!-- / footer -->
{{- partial "footer/scripts" . -}}
