{{ $vendor := resources.Get "js/vendor.js" }}
{{ $app := resources.Get "js/app.js" }}
{{ $custom := resources.Get "js/custom.js" }}
{{ $zdog := resources.Get "js/zdog.js"}}


{{ $js := slice $custom $vendor $app $zdog | resources.Concat "js/bundle.js"  }}
<script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>

<script src="{{ $js.Permalink }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script async src="https://cse.google.com/cse.js?cx=009894603622114545194:ygbqynyvvda"></script>

</body>
</html>
