.brown-nav {
  .logo-rainbow {
    height: 40px;
  }
  .brown-logo-color {
    height: 50px;
  }
  .ccv-logo {
    height: 40px;
  }
  @extend .justify-content-between;
}

@include media-breakpoint-down(sm) {
  justify-content: flex-start !important;
  padding-left: 1rem !important;
}

@media (max-width: 576px) {
  .hide-mobile {
    visibility: hidden;
    display: none;
  }
}
