
// hero
#hero {
  background-image: url("/images/bigdatablog.jpg");
  background-size: cover;
  background-position: 100% 100%;
  background-attachment: fixed;
  .brown-logo {
    fill: white;
    fill-opacity: 0.5;
    height: 15rem;
  }
  .ccv-logo {
    height: 15rem;
    .c1 {
      fill: gray;
      fill-opacity: 0.6;
    }
    .c2 {
      fill: teal;
      fill-opacity: 0.7;
    }
    .v {
      fill: white;
      fill-opacity: 0.3;
    }
  }
  svg {
    padding: 1rem;
  }
  h1 {
    font-weight: 600;
    font-style: italic;
    font-size: $h1-font-size * 1.2;
    opacity: 0.8;
  }
  hr {
    opacity: 0.5;
  }
}
