
// hero
#hero {
  background-image: url("/images/background-image-yellow.svg");
  background-position: 20% 65%;
  background-size: cover;
  .brown-logo {
    fill: white;
    fill-opacity: 0.5;
    height: 15rem;
  }
  .ccv-logo {
    height: 15rem;
    .c1 {
      fill: gray;
      fill-opacity: 0.6;
    }
    .c2 {
      fill: teal;
      fill-opacity: 0.7;
    }
    .v {
      fill: white;
      fill-opacity: 0.3;
    }
  }
  svg {
    padding: 1rem;
  }
  h1 {
    font-weight: 600;
    font-size: $h1-font-size * 1.2;
    opacity: 0.8;
  }
  hr {
    opacity: 0.5;
  }
}
.iso-ccv {
  height: 30rem;
  margin-top: -25%;
  stroke: white;
  stroke-width: 2px;
  .ccv-st0, .ccv-st2, .ccv-st5 {
    fill: $brown-100;
    fill-opacity: 0.9;
  }
  .ccv-st1, .ccv-st3, .ccv-st4 {
    fill: $beige;
    fill-opacity: 0.9;
  }
  .ccv-st6, .ccv-st7, .ccv-st8 {
    fill: $sand;
    fill-opacity: 0.9;
  }
}
