// sections
footer {
  .ccv-logo {
    height: 2.5rem !important;
  }
}

section, footer {
  .ccv-logo {
    height: 4rem;
    .c1 {
      fill: $yellow;
      fill-opacity: 1;
    }
    .c2 {
      fill: $green;
      fill-opacity: 1;
    }
    .v {
      fill: $yellow;
      fill-opacity: 1;
    }
  }
  header {
    h1 {
      font-size: $h1-font-size * 1.5 !important;
      color: lightgray;
    }
  }
}

.news {
  article {
    h1 {
      font-size: $h1-font-size * 0.3;
      color: lightgray;
      margin-top: 1.4rem;
      font-family: $font-family-base;
    }
    h2 {
      font-family: $headings-font-family;
      font-size: $h1-font-size * 0.4;
    }
  }
}
.section-title {
  svg {
    height: 30rem;
  }
  margin-left: 90%;
  margin-top: -15rem;
}
.badge-outline {
  border: solid 3px;
  padding: 1rem;
  background: white;
}
.badge-outline-primary {
  border-color: $blue;
  color: $blue;
}

// List section - table of contents

.overlay-top {
  margin-top: -8%;
}

.ccv-footer {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}


// Docs section
.doc-container {
  height: 80vh;
}
.docs-icon {
    color: $gray-600 !important;
    fill: $gray-600 !important;
    height: 1.5rem !important;
    margin-right: 1rem;
    stroke-width: 0;
}

// About

.people-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
  border: 2px solid white;
}

.people-card-body {
  background-color: rgb(255,255,255);
  width: 100%;
  padding: 0.5rem;
}

.arc-people {
  p {
    line-height: 0;
  }
}

.text-small {
  font-size: 0.9rem !important;
}

#opportunities-content {
  flex-wrap: wrap;
  .card-body {
    flex-basis: 22%;
  }
  @include media-breakpoint-down(sm) {
    .card-body {
      flex-basis: 100%;
    }
  }
}

.border-5 {
  border-width: 5px;
}

// Quick links
.card-responsive {
  width: 25%;
  padding: 2px;
}
@media (max-width: 800px) {
  .card-responsive {
    width: 100%;
  }
}

.fa-x {
  color: $green;
}

// What's new
#new-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .card {
    flex-basis: 48%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 800px) {
  #new-card {
    .card {
      flex-basis: 96%;
    }
  }
}
