.small-date {
  font-size: $font-size-base * 0.8;
  color: $gray;
}

.line-around {
  line-height: 0.5;
  text-align: center;
}

.line-around span {
  display: inline-block;
  position: relative;
}

.line-around span:before, .line-around span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid $yellow;
  top: 15px;
  width: 100px;
}

.line-around span:before {
  right: 100%;
  margin-right: 30px;
}

.line-around span:after {
  left: 100%;
  margin-left: 15px;
}

.top-right {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.small {
  font-size: 1rem !important;
}

.compbiocore-banner {
  background-color: $blue;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    margin-top: 5rem;
    color: $sand !important;
  }
  svg {
    height: 80px;
    margin-right: 2rem;
    stroke: white;
    .st1c {
      fill: $blue;
    }
  }

}

.cbc-logo {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  small {
    font-size: 1rem;
  }
}
