.showcase {
  z-index: 11000;
}

.owl-prev, .owl-next {
  background-color: $gray !important;
  overflow: hidden !important;
}

.carousel-img {
  height: 400px;
  background-size: cover;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.3);
  border: 0px;
  padding: 1rem;
}

@include media-breakpoint-down(sm) {
	.owl-dots {
		display: none;
	}
	.carousel-caption {
		width: 86%;
		margin-left: -2rem;
	}
}
