<div class="d-flex justify-content-center">
  <h1 class="my-4">Request an Account on Oscar</h1>
</div>
<div class="d-flex flex-column align-items-center">
  <p><strong class="text-red">Please sign in with you Brown email to request an account. </strong>If you don't have  a <code>brown.edu</code> email,
         your Brown University sponsor should submit this form.</p>
  <div class="d-flex row mt-10">
  <div class="g-signin2 col-md-3" data-width="230" data-height="80" data-onsuccess="onSignIn"></div>
  <div class="col-md-1"></div>
  <div class="ml-2 d-flex flex-column col-md-5 ml-10">
    <span id="loginmessage">Please, sign in.</span>
    <span id="googleUser" class="text-blue"></span>
    <code><span id="googleEmail" class="text-blue"></span></code>
  </div>
  </div>
</div>
<form class=""
      action="https://docs.google.com/forms/d/e/1FAIpQLSfhgHgf_Zm8KJQLgqoMpaXVnKm2uuEZVE6ClIwmANdir3zSQA/formResponse?embedded=true"
      target="_self"
      method="POST">
  <div class="form-row">
    <div class="form-group col-md-6 invisible">
      <label for="inputFullName">Name</label>
      <input type="text"
             class="form-control"
             id="inputFullName"
             placeholder="Full Name"
             required
             readonly
             name="entry.350874798">
    </div>

    <div class="form-group col-md-6 invisible">
      <label for="inputEmail">Email</label>
      <input type="email"
             class="form-control"
             id="inputEmail"
             placeholder="Email"
             pattern="([a-z0-9])\w+@brown.edu"
             required
             readonly
             name="entry.188893251">
    </div>
</div>

<div id="radioGroup" class="form-row d-flex justify-content-between">
 {{ range $index, $a := .Site.Data.rates }}
 <!-- cards -->
   {{ if lt $index 4 }}
      <div class="col-md-3 mx-0">
      <div class="card stacked my-3">
        <div class="card-header pt-0 border-warning border-5 bg-blue text-white">

          <div class="custom-control custom-radio mt-3">
            <input type="radio" id="customRadio{{$index}}" name="customRadio" class="custom-control-input" value="{{ .type }}">
            <label class="custom-control-label" for="customRadio{{$index}}">
              {{ if ne $index 3 }}
              <h3>{{ humanize .type }}</h3>
              {{ else }}
              <h4>{{ humanize .type }}</h4>
              {{ end }}
            </label>
          </div>
        </div>
        <div class="card-body pb-0">
          <ul class="list-group list-group-minimal mb-3 fs-16">
            {{ if ne $index 3}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
            Job priority<strong>{{ humanize .priority }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Account number<strong>{{ .accounts }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Max cores<strong>{{ .cores }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Max time<strong>{{ .time }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Home storage<strong>{{ .home }}</strong>
            </li>
            {{ with .extra }}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ humanize .key }}<strong>{{ .value }}</strong>
            </li>
            {{ end }}
            {{ else }}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Group/Condo:&nbsp;&nbsp;</strong>
              <input class="group-enable w-75 d-inline" type="text" name="entry.491551205" disabled></input>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>PI's email:</strong>
              <input type="email"
                     class="group-enable w-75 d-inline"
                     id="inputUsername4"
                     pattern="([a-z0-9])\w+@brown.edu"
                     name="entry.1715736963"
                     disabled>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
              <a data-toggle="tooltip" data-placement="top" class="tooltip-small" title="{{ .condo }}">
                <span class="fs-18"> What's a condo?&nbsp;&nbsp;</span>
                <span class="fs-20 fas fa-info-circle"></span>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ if eq $index 0}}
      <p class="mb-4 mt-0 fs-14">* Prices per quarter</p>
      {{ end }}
      </div>
      {{ end }}
    {{ end }}
     <input id="radioInput" type="hidden" name="entry.860085472">
  </div>

<div class="form-row">
  <div class="form-group col-md-12">
    <small class="fs-18" for="exampleFormControlTextarea1">Intended Use</small>
    <textarea class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              name="entry.1947135603"></textarea>
  </div>

  </div>

  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox"
           class="custom-control-input"
           id="checkboxAgree"
           required>
    <label class="custom-control-label" for="checkboxAgree">I have read and accepted the <a href="{{.Site.BaseURL}}/services/haas/terms-and-conditions/">General Terms and Conditions.</a></label>
    <div class="invalid-feedback">This is required.</div>
    <input type="text" id="textAgree" class="invisible" name="entry.2110711886"></input>

  </div>

  <button id="googleSubmit" type="submit" class="btn btn-primary" disabled>Submit</button>
</form>
