<div class="d-flex justify-content-center">
  <h1 class="my-4">Request an Account on Oscar</h1>
</div>
<div class="d-flex flex-column align-items-center">
  <p>To request an account on Oscar you must sign in using your Brown Gmail account. If you don't have  a <code>brown.edu</code> email,
         your Brown University sponsor should submit this form.</p>
  <div class="d-flex row mt-10">
  <div class="g-signin2 col-md-3" data-width="200" data-height="80" data-onsuccess="onSignIn"></div>
  <div class="ml-2 d-flex flex-column col-md-6 ml-10">
    <span id="loginmessage">Please, sign in.</span>
    <span id="googleUser" class="text-blue"></span>
    <code><span id="googleEmail" class="text-blue"></span></code>
  </div>
  </div>
</div>
<form class="needs-validation"
      action="https://docs.google.com/forms/d/e/1FAIpQLSfhgHgf_Zm8KJQLgqoMpaXVnKm2uuEZVE6ClIwmANdir3zSQA/formResponse?embedded=true"
      target="_self"
      method="POST"
      id="mG61Hd">
  <div class="form-row">
    <div class="form-group col-md-6 invisible">
      <label for="inputFullName">Name</label>
      <input type="text"
             class="form-control"
             id="inputFullName"
             placeholder="Full Name"
             required
             readonly
             data-item-id="1826071030"
             data-required="true"
             name="entry.350874798">
    </div>

    <div class="form-group col-md-6 invisible">
      <label for="inputEmail">Email</label>
      <input type="email"
             class="form-control"
             id="inputEmail"
             placeholder="Email"
             pattern="([a-z0-9])\w+@((\buri\b)|(\bbrown\b)).edu"
             required
             readonly
             data-item-id="1043048528"
             data-required="true"
             name="entry.188893251">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Brown username</label>
      <input type="text"
             class="form-control"
             id="inputUsername4"
             placeholder="username"
             required
             data-item-id="1328947044"
             data-required="true"
             name="entry.1540659038">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">User Type</label>
      <select id="inputState"
              class="form-control"
              required
              data-item-id="1828953716"
              data-required="true"
              name="entry.2078386885">
        <option selected>Choose...</option>
        <option>Faculty</option>
        <option>Staff</option>
        <option>Graduate</option>
        <option>Undergrad</option>
        <option>External</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Account Type</label>
      <select id="inputState"
              class="form-control"
              required
              data-item-id="484406619"
              data-required="true"
              name="entry.860085472">
        <option selected>Choose...</option>
        <option>Exploratory (free; recommended if unsure)</option>
        <option>Premium</option>
        <option>Add to PI's condo queue</option>
      </select>
      <label><a href="/">click for premium rates</a>b </label>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Intended Use</label>
    <textarea class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              data-item-id="437137239"
              data-required="true"
              name="entry.1947135603"></textarea>
  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputEmail4">Advisor or PI</label>
      <input type="text"
             class="form-control"
             id="inputEmail4"
             required
             data-item-id="1618801604"
             data-required="true"
             name="entry.637913206">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Advisor or PI's email address</label>
      <input type="email"
             class="form-control"
             id="inputUsername4"
             pattern="([a-z0-9])\w+@((\buri\b)|(\bbrown\b)).edu"
             required
             data-item-id="542373747"
             data-required="true"
             name="entry.1715736963">
      <label>we ask for email approval from a PI before creating accounts associated with their group.</label>
    </div>
  </div>
  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox"
           class="custom-control-input"
           id="customControlValidation1"
           required
           data-item-id="1227668249"
           data-required="true"
           name="entry.963437811">
    <label class="custom-control-label" for="customControlValidation1">I have read and accepted the <a href="{{.Site.BaseURL}}/services/haas/terms-and-conditions/">General Terms and Conditions.</a></label>
    <div class="invalid-feedback">This is required.</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

  <input type="hidden" name="fbzx" value="5460528407244223451">
  <input type="hidden" name="token" value="T5Ig3WgBAAA.nvVWveWrmizB-juG5L79hg.1udzHmiGAFCSKHjDzHFhQg">
</form>
