{{ $events := getJSON "https://datasci.brown.edu/gcal-api/" }}
{{ range $events.events }}
{{ if ne .visibility "private" }}
<p class="h5">{{ dateFormat "Monday" .start.dateTime  }}</p>
<p class="h6">{{ dateFormat "Jan 2, 2006" .start.dateTime }}</p>
<p class="h1 fs-16">{{ dateFormat "3:04PM" .start.dateTime }}-{{ dateFormat "3:04PM" .end.dateTime }}</p>
{{ with .location }}
<p class="fs-14"><span class="fas fa-map-marker-alt"></span>&nbsp;{{ . }}</p>
{{ end }}
{{ with .description }}
<p class="fs-14"><span class="fs-14 fas fa-chalkboard-teacher"></span>&nbsp;{{ . }}</p>
{{ end }}
<h3>{{ .summary }}</h3>
<p>{{ .visibility }}</p>
<hr>
{{ end }}
{{ end }}
