{{ range .Site.Data.people }}
<div class="container row col-md-8">
<table cellpadding="0" cellspacing="0" border="0" style="font-size:12px; font-family: Helvetica; line-height: 17px; border-width:0px;">
	<tbody>
		<tr>
			<td valign="center" style="border-top: none; padding: 10px; border-right-width:1px; border-right-style: solid; border-right-color:#c3c3c3" width="80">
				<a href="http://ccv.brown.edu"><img class="mt-3" src="https://datasci.brown.edu/images/ccv-logo-144ppi.png" height="50"></a>
			</td>
			<td valign="top" style="border-top: none; padding: 10px; padding-left: 20px" width="200">
				<span style="font-size:15px; color:#29363f; font-weight: bold">{{ .name }}</span>
				<a class="ml-10" href="https://github.com/{{.github_username}}"><img src="https://datasci.brown.edu//images/github-brands.png" height="23"></a>
				<a class="ml-1" href="https://directory.brown.edu/uuid/{{ .brown_directory_uuid }}"><img src="https://datasci.brown.edu/images/info-circle-solid.png" height="23"></a>
				<br><br>

				<strong>{{ .title }}</strong><br>
				{{if (eq .subteam "Computational Biology Core")}}
				<a href="https://cbc.brown.edu"><span class="fs-8">{{.subteam}}</span><img class="ml-1" src="https://datasci.brown.edu/images/cbc.png" height="23"></a>
				{{else}}
				<span class="fs-8">{{.subteam}}</span>
				{{end}}
				<br>
				Center for Computation and Visualization<br>
				Brown University&nbsp;&nbsp;|&nbsp;&nbsp;CIS
				<br>

			</td>
		</tr>

	</tbody>
</table>
</div>
{{ end }}
