<table style="width: 125%; margin-left:-10%;">
  <thead>
    <tr>
      <th>Account(s) Type</th>
      <th>CPU Cores</th>
      <th>Memory(GB)</th>
      <th>GPU</th>
      <th>Max Walltime* (Hours)</th>
      <th>Data Directory</th>
      <th> Cost (Billed Quarterly)</th>
      <th>Partition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Individual Exploratory (no PI)</td>
      <td>32 <br> 4 <br> 32</td>
      <td>246 <br> 192 <br> 768</td>
      <td>No GPUs <br> 2 Standard GPUs <br> No GPUs </td>
      <td>48</td>
      <td>No</td>
      <td>$0</td>
      <td>Batch <br> GPU <br> Bigmem</td>
    </tr>
    <tr>
      <td>Sponsored Exploratory (with PI)</td>
      <td>32 <br> 4 <br> 32</td>
      <td>246 <br> 192 <br> 768</td>
      <td>No GPUs <br> 2 Standard GPUs <br> No GPUs </td>
      <td>48</td>
      <td>Yes</td>
      <td>$0</td>
      <td>Batch <br> GPU <br> Bigmem</td>
    </tr>
    <tr>
      <td>HPC Priority</td>
      <td>208</td>
      <td>1,500</td>
      <td>2 Standard GPUs</td>
      <td>96</td>
      <td>Yes</td>
      <td>$200</td>
      <td>Batch</td>
    </tr>
    <tr>
      <td>HPC Priority+</td>
      <td>416</td>
      <td>3,000</td>
      <td>2 Standard GPUs</td>
      <td>96</td>
      <td>Yes</td>
      <td>$400</td>
      <td>Batch</td>
    </tr>
    <tr>
      <td>Standard GPU Priority</td>
      <td>8</td>
      <td>192</td>
      <td>4 Standard GPUs</td>
      <td>96</td>
      <td>Yes</td>
      <td>$200</td>
      <td>GPU</td>
    </tr>
    <tr>
      <td>Standard GPU Priority+</td>
      <td>16</td>
      <td>384</td>
      <td>8 Standard GPUs</td>
      <td>96</td>
      <td>Yes</td>
      <td>$400</td>
      <td>GPU</td>
    </tr>
    <tr>
      <td>Standard GPU Priority+</td>
      <td>16</td>
      <td>384</td>
      <td>8 Standard GPUs</td>
      <td>96</td>
      <td>Yes</td>
      <td>$400</td>
      <td>GPU</td>
    </tr>
    <tr>
      <td>High End GPU Priority</td>
      <td>16</td>
      <td>256</td>
      <td>4 high-end GPUs (Tesla V100)</td>
      <td>96</td>
      <td>Yes</td>
      <td>$400</td>
      <td>GPU</td>
    </tr>
    <tr>
      <td>Large Memory Priority</td>
      <td>32</td>
      <td>2TB</td>
      <td>-</td>
      <td>96</td>
      <td>Yes</td>
      <td>$100</td>
      <td>Bigmem</td>
    </tr>
    <tr>
      <td>Condo Rental	</td>
      <td>2,000G</td>
      <td>2TB</td>
      <td>-</td>
      <td>No wall-time limits</td>
      <td>Yes</td>
      <td>$10,000 (Yearly)</td>
      <td>Condo</td>
    </tr>
  </tbody>
</table>
