<table style="width: 120%; margin-left:-10%;">
  <thead>
    <tr>
      <th>Account(s) Type</th>
      <th>Partition</th>
      <th>CPU Cores</th>
      <th>Memory(GB)</th>
      <th>GPU</th>

      <th>Max Walltime* (Hours)</th>
      <th> Cost (Billed Quarterly)</th>
    </tr>
   

  </thead>
  <tbody>
    <tr>
      <td width="30%"> Exploratory <br> <!-- Make it Single Line. -->
      <font size="0.1"> With PI - data directory provided. <br> Without PI - no data directory provided </font></td>
      <td> <br> Batch <br> GPU <br> Bigmem</td>
      <td> <br> 32 <br> 4 <br> 32 <br> </td>
      <td> <br> 246 <br> 192 <br> 768</td>
      <td> <br> No GPUs <br> 2 Std. GPUs <br> No GPUs </td>
      <td> 48</td>
      <td> $0</td>
    </tr>

    <tr>
      <td>HPC Priority</td>
      <td>Batch</td>
      <td>208</td>
      <td>1,500</td>
      <td>2 Std. GPUs</td>
      <td>96</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>HPC Priority+</td>
      <td>Batch</td>
      <td>416</td>
      <td>3,000</td>
      <td>2 Std. GPUs</td>
      <td>96</td>
      <td>$400</td>
   
    </tr>
    <tr>
      <td>Standard GPU Priority</td>
      <td>GPU</td>
      <td>16</td>
      <td>192</td>
      <td>4 Std. GPUs</td>
      <td>96</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>Standard GPU Priority+</td>
      <td>GPU</td>
      <td>16</td>
      <td>384</td>
      <td>8 Std. GPUs</td>

      <td>96</td>
      <td>$400</td>
    </tr>
    <tr>
      <td>High End GPU Priority</td>
      <td>GPU</td>
      <td>16</td>
      <td>256</td>
      <td>4 high-end GPUs (Tesla V100)</td>
      <td>$400</td>
    </tr>
    <tr>

      <td>Large Memory Priority</td>
      <td>Bigmem</td>
      <td>32</td>
      <td>2TB</td>
      <td>-</td>

      <td>96</td>
      <td>$100</td>
    </tr>
    <tr>

      <td>Condo Rental	</td>
      <td>Batch</td>
      <td>512</td>
      <td>2TB</td>
      <td>-</td>
      <td>No wall-time limits</td>
      <td>$10,000 (Yearly)</td>
    </tr>
  </tbody>
</table>
