{{ $lead := .Get "lead"}}
{{ $group := .Get "name"}}
{{ $color := .Get "color"}}
<div class="card d-flex p-4 my-2">
  {{ range .Site.Data.people }}
  {{ if eq .name $lead}}
  {{ $uuid := .brown_directory_uuid }}

  <h4>{{$group}}</h4>
  <p style="width: 35%;"class="fs-18 p-1 bg-{{$color}} text-light rounded text-center">Lead: <a class="text-light font-weight-bold" href="https://directory.brown.edu/uuid/{{$uuid}}">{{$lead}}&nbsp;<span class="fas fa-envelope"></span></a></p>
  {{ end }}
  {{ end }}
  <hr>
  <p>
  {{ .Inner | markdownify }}
  </p>
</div>
