<div id="discourse-box" class="initial-place d-flex justify-content-end">
   <div class="d-flex flex-column text-center boxed p-2 alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
      <a href="{{.Site.Params.contact.discourse}}">
      <p class="mt-1 mr-4">Community Support</p>
      <span class="fab fa-2x fa-discourse"></span>
      </a>
   </div>
</div>
