<div id="discourse-box" class="initial-place d-flex justify-content-end">
   <div class="d-flex flex-column text-center boxed p-2 alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close p-1" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
      <a class="mt-1" href="{{.Site.Params.contact.discourse}}">
         <span class="fab fa-3x fa-discourse"></span>
         <p>Join the discussion!</p>
      </a>
   </div>
</div>
