<section id="section-3" class="bg-white showcase">
  <section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn bg-yellow btn-ico btn-lg btn-rounded mx-3">
            <i class="text-light fas fa-calendar"></i>
          </span>
          <h1 class="py-8 h1-home">{{ .Params.events.title | markdownify }}</h1>
        </header>
        <section>

        </section>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="bg-white row">
  <div class="owl-carousel
              owl-carousel-showcase
              owl-carousel-fluid
              owl-loaded owl-drag
              skrollable
              skrollable-before"
        data-items="[3,3,2]"
        data-center="true"
        data-nav="false"
        data-margin="40"
        data-loop="true"
        data-dots="true"
        >
    {{ range $index, $item := .Params.events.items }}
    <div class="py-2">
        <div class="type boxed mr-2 bg-beige text-dark">
          <div  class="d-flex flex-column">
            <a  target="_blank" href="{{.Params.event.google}}">
              <span class="badge badge-outline badge-outline-primary scale"><span class="fas fa-calendar-alt fa-3x"></span></span>
            </a>
            <a class="page-box" data-target="{{sha1 .title }}" href="{{.href}}">
              <p class="h5">{{ .date }}</p>
              <p class="h5">{{ .time }}</p>
              <p class="fs-14"><span class="fas fa-map-marker-alt"></span>&nbsp;{{ .location }}</p>
              <div class="type-example">
                <h3>{{ .title }}</h3>
              </div>
            </a>
          </div>
        </div>
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Taxonomies.types }}
      {{if eq `events` $key}}
        {{ range $value.Pages }}
        <div class="py-2">
            <div class="type boxed mr-2 bg-beige text-dark">
              <div  class="d-flex flex-column">
                <a  target="_blank" href="{{.Params.event.google}}">
                  <span class="badge badge-outline badge-outline-primary scale"><span class="fas fa-calendar-alt fa-3x"></span></span>
                </a>
                <a class="page-box" data-target="{{sha1 .Title }}" href="{{.Permalink}}">
                  <p class="h5">{{ .Params.event.date }}</p>
                  <p class="h5">{{ .Params.event.time }}</p>
                  <p class="fs-14"><span class="fas fa-map-marker-alt"></span>&nbsp;{{ .Params.event.location }}</p>
                  <div class="type-example">
                    <h3>{{ .Title }}</h3>
                  </div>
                </a>
              </div>
            </div>
        </div>
        {{ end }}
      {{ end }}
    {{ end }}

  </div>
  </section>
</div>
</section>
