<section id="section-3" class="bg-white showcase">
  <section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn bg-yellow btn-ico btn-lg btn-rounded mx-3">
            <i class="text-light fas fa-calendar"></i>
          </span>
          <h1 class="py-8 h1-home">Upcoming Events</h1>
        </header>
        <section>

        </section>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid pb-4">
  <section class="bg-white row d-flex flex-row justify-content-center">
    <iframe src="https://calendar.google.com/calendar/b/1/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=Y2N2LWJvdEBicm93bi5lZHU&amp;color=%2322AA99&amp;showTitle=0&amp;showNav=0&amp;showDate=1&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showPrint=0&amp;title=CCV%20Events&amp;mode=WEEK" style="border-width:0" width="1000" height="400" frameborder="0" scrolling="no"></iframe>
</div>
</section>
