<!-- hero -->
<!-- yellow banner -->
<section id="hero" class="position-relative">

  <div class="hero-content-container bg-yellow" style="background-image: url('{{$.Site.BaseURL}}/images/background-art.svg');">
    <div class="hero-content d-flex flex-column">
      <h1 class="text-dark h1-home">{{ .Params.hero.title }}</h1>
      <p class="text-medium-brown">{{ .Params.hero.lead }}</p>
      <div class="row d-flex">
        <ul class="nav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if eq "Services" .Name }}
          <li class="mx-1 nav-item  bg-green shadow">
            <a class="nav-link" href="{{ .URL }}">
              {{ .Pre }}
              <span class="text-beige font-weight-bold">{{ i18n "learn_about_ccv_services" }}</span>
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

  <!-- floating button -->
  <a data-scroll href="#section-1" class="z-10 position-absolute left-5 bottom-10">
  <button type="button" class="small-invisible btn btn-outline-white btn-ico btn-rounded"><i class="icon-arrow-down2 fs-26"></i></button>
  </a>

  <!-- floating graphic -->
  <div class="right-1 bottom-6 position-absolute z-10">
    <svg class="zdog-svg" width="900" height="500"></svg>
    <!-- {{ readFile "/themes/gb-theme/static/images/isometric-ccv.svg" | safeHTML }} -->
  </div>

</section>
<!-- / hero -->
