<!-- hero -->
<!-- yellow banner -->
<section id="hero" class="position-relative">

  <div class="hero-content-container bg-yellow">
    <div class="hero-content pl-10 d-flex flex-column">
      <h1 class="text-dark">{{ upper .Params.hero.title }}</h1>
      <p class="fs-30 text-medium-brown">{{ .Params.hero.lead }}</p>
      <div class="row d-flex">
        <ul class="nav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if in "Resources, Services" .Name }}
          <li class="mx-1 nav-item  bg-green shadow lift">
            <a class="nav-link" href="{{ .URL }}">
              {{ .Pre }}
              <span class="text-sand pr-1 icon-{{if eq .Name `Resources`}}server2{{ else }}users2{{end}} fs-24"></span>
              <span class="text-beige fs-28 font-weight-bold">{{ .Name }}</span>
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

  <!-- floating graphic -->
  <div class="right-1 bottom-6 position-absolute z-10">
    {{ readFile "/themes/gb-theme/static/images/isometric-ccv.svg" | safeHTML }}
  </div>

</section>
<!-- / hero -->
