
<!-- sidebar start -->
<nav id="menu-container">
    <div class="row">
        <button class="btn menu-trigger">
            <span id="menu-close" class="fas fa-times fa-2x"></span>
        </button>
    </div>

    <div class="row ">
        <ul class="nav flex-column">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main.ByWeight }}
                {{ if .HasChildren }}
                    <li id="{{ .Title | urlize }}" class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                        <a class="nav-link text-dark">
                            {{ .Pre }}
                            <span>{{ .Title }}</span>
                        </a>
                    </li>
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li id="{{ .Title | urlize }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a class="nav-link text-success" href="{{ .URL }}">
                                    <span class="fs-24 link ">
                                        {{if (eq .Title "Workshops")}}
                                        <span class="fad fa-chalkboard-teacher"></span>
                                        {{else}}
                                        <span class="fad fa-code"></span>
                                        {{end}}
                                        {{ i18n .Title }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    <li id="{{ .Title | urlize }}" class="nav-item">
                        <a class="nav-link text-dark" href="{{ .URL }}">
                            {{ .Pre }}
                            <span class="fs-24 link ">{{ i18n .Title }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <div class="row logos">
    {{ readFile "/themes/gb-theme/static/images/brown-logo.svg" | safeHTML }}
    {{ readFile "/themes/gb-theme/static/images/ccv-logo.svg" | safeHTML }}
    </div>

</nav>
