<section id="section-2" class="bg-light py-6 news">
  <div class="container">
    <div class="col-md-12">
        <header class="align-items-center row">
          <span class="btn-red btn-ico btn-lg btn-rounded mx-3"><i class="text-light icon-clock fs-40"></i></span>
          <h1>{{ .Params.news.title | markdownify }}</h1>
        </header>

        <div class="row">
        <article class="col-md-8 row">
          {{ range (first 6 .Site.Pages.ByPublishDate.Reverse) }}
          <div class="col-9 col-md-5 col-lg-4">
            <div class="py-2">
              <a id="test" class="page-box" data-target="{{sha1 .Title }}">
                <div class="type boxed scale" style="background-image: url('/images/stocks.png'); background-size: cover;">
                  <div>
                    <span class="badge badge-primary">{{ .Section }}</span>
                    <small class="type-title text-light">{{ truncate 70 .Content}}</small>
                    <div class="type-example">
                      <h2 class="type-title text-light">{{ .Title }}</h2>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {{ end }}
        </article>

        <aside class="col-md-3 col-lg-4 px-2">

        {{ range (first 6 .Site.Pages.ByPublishDate.Reverse) }}
          <div class="page-summary" id="{{ sha1 .Title }}">
            <small><strong>{{ humanize .Section }} | {{ .Params.project }}{{ .Params.category }}</strong></small>

            <h1>{{ .Title }}</h1>
            {{ truncate 500 .Summary | markdownify }}
          </div>
        {{ end }}

        </aside>
        </div>

    </div>
  </div>
</section>
