<section id="section-1" class="bg-white py-6 quick-links">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn-primary btn-ico btn-lg btn-rounded mx-3"><i class="icon-link2"></i></span>
          <h1 class="h1-home py-8">{{ .Params.quick_links.title | markdownify }}</h1>
        </header>

        <section>

          <article class="row">
            {{ range .Params.quick_links.cards }}
                <div class="card-responsive">
                  {{ if in .href "http"}}
                  <a href="{{.href}}">
                  {{ else }}
                  <a href="{{$.Site.BaseURL}}/{{.href}}">
                  {{ end }}
                  <div class="card scale">
                    <div class="card-body text-center">
                      <span class="icon-{{.icon}} h1"></span>
                      <h3 class="">{{ .name | markdownify }}</h3>
                      <p>{{.text}}</p>
                      <!-- <a href="#" class="eyebrow link">go to page</a> -->
                    </div>
                  </div>
                  </a>
                </div>
            {{ end }}
          </article>
        </section>
      </div>
    </div>
  </div>

</section>
