<section id="section-1" class="bg-white py-6 quick-links">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn-primary btn-ico btn-lg btn-rounded mx-3"><i class="icon-link2 fs-40"></i></span>
          <h1 class="">{{ .Params.quick_links.title | markdownify }}</h1>
        </header>

        <section>
          <article class="row gutter-1 my-2">
            {{ range $cards := sort ($.Params.quick_links.cards) "weight" "asc" }}
                <div class="col-7 col-md-5 col-lg-3 scale p-2">
                  <div class="card  highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                      <span class="icon-{{.icon}} h1"></span>
                      <h3 class="">{{ .name | markdownify }}</h3>
                      <p>{{.text}}</p>
                      <a href="#" class="eyebrow link">go to page</a>
                    </div>
                  </div>
                </div>
            {{ end }}
          </article>

        <footer class="card">
            <div class="card-footer py-2">
              <h3 class="text-secondary">Not What You're Looking For?</h3>
            </div>
              <div class="card-body py-2">
                <div class="row">
                  <div class="col-md-8 col-lg-10">
                    <form id="search-form" action="{{ "search" | absURL }}">
                      <input id="search-query" name="s" type="text" class="form-control form-control-minimal" placeholder="Search the CCV Site here ..." aria-label="Search">
                    </form>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <button form="search-form" type="submit" class="btn btn-block btn-dark" value="Submit">Search</button>
                  </div>
                </div>
              </div>
          </footer>

        </section>
      </div>
    </div>
  </div>
</section>
