<section id="section-3" class="bg-white showcase">
  <section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn-yellow btn-ico btn-lg btn-rounded mx-3">
            <i class="text-light fa-2x fas fa-project-diagram"></i>
          </span>
          <h1 class="py-8">{{ .Params.showcase.title | markdownify }}</h1>
        </header>
        <section>

        </section>
      </div>
    </div>
  </div>
</section>
<section class="bg-white row">
<div class="owl-carousel
            owl-carousel-showcase
            owl-carousel-fluid
            owl-loaded owl-drag
            skrollable
            skrollable-before"
      data-items="[2,2,1]"
      data-center="true"
      data-nav="false"
      data-margin="20"
      data-loop="true"
      data-dots="true"
      >
  {{ range $index, $item := .Params.showcase.items }}
  <figure class="photo">
    <a class="lightbox" href="" title="Image title">
      <img src="{{ .image }}" alt="Image">
      <div class="carousel-caption flex-column d-flex">
        <h1 class="text-light">{{ .title }}</h1>
        <p class="h3 text-light">{{ .text }}</p>
        <p><a href="#" class="eyebrow link text-orange">Read More</a></p>
      </div>
    </a>
  </figure>

  {{ end }}
</div>
</section>
</section>
