<section id="section-3" class="bg-light showcase">
  <section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn-green btn-ico btn-lg btn-rounded mx-3">
            <i class="text-light fas fa-project-diagram"></i>
          </span>
          <h1 class="h1-home py-8">{{ .Params.showcase.title | markdownify }}</h1>
        </header>
        <section>

        </section>
      </div>
    </div>
  </div>
</section>
<section class="bg-light row">
<div class="owl-carousel
            owl-carousel-showcase
            owl-carousel-fluid
            owl-loaded owl-drag
            skrollable
            skrollable-before"
      data-items="[3,2,1]"
      data-center="false"
      data-nav="false"
      data-margin="20"
      data-loop="true"
      data-dots="true"
      >
  {{ range where $.Site.Pages "Section" "projects" }}
  {{if .Params.title }}
  <div class="photo carousel-img" style="background-image: url({{.Site.BaseURL}}{{ .Params.image }});">
      <div class="carousel-caption boxed flex-column d-flex">
        <h1 class="text-light fs-38">{{.Params.title}}</h1>
        <p class="fs-22 text-light">{{.Params.text}}</p>
        <p><a href="{{.Params.href}}" class="eyebrow link text-orange">{{.Params.cfa}}</a></p>
      </div>
  </div>
  {{end}}
  {{ end }}
</div>
</section>
</section>
