<section id="whatsnew" class="bg-light showcase">
  <section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn-green btn-ico btn-lg btn-rounded mx-3">
            <i class="text-light fas fa-kiwi-bird"></i>
          </span>
          <h1 class="h1-home py-8">{{ .Site.Data.whatsnew.title | markdownify }}</h1>
        </header>

      </div>
      <article>
        
      </article>
    </div>
  </div>
</section>
</section>
