{{ define "content" }}
{{ $current_section := .Section }}
<div id="hero-list" class=" bg-yellow text pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex flex-column pt-6 pb-10">
          <h1 class="fs-60"> {{ if eq .Section "tags"}}News{{end}} </h1>
          <p class="fs-30"></p>
        </div>
    </div>
</div>
</div>

<div class="container col-md-5 overlay-top">
  <ul class="nav nav-toc-page flex-column boxed">
    {{ range $key, $value := .Site.Taxonomies.types }}
    {{ range first 1 $value.Pages }}
      <li class="mx-1 nav-item bg-white lift my-1">
          <a class="nav-link" href="{{ .Site.BaseURL }}/{{ .Section }}/{{$key}}">
              {{if eq `posts` $key}}
              <span class="text-dark fas fa-blog pr-1 fs-28 text-green"></span>
              {{ else if eq `events` $key}}
              <span class="text-dark fas fa-calendar-day pr-1 fs-28 text-green"></span>
              {{ else }}
              <span class="text-dark fas fa-chalckboard-teacher pr-1 fs-28 text-green"></span>
              {{ end }}
              <span class="text-dark fs-20">{{ humanize $key }}</span>
          </a>
      </li>
      {{ end }}
      {{ end }}
  </ul>
</div>

<div class="container">
    <div class="row">
    <section class="my-2 bg-light col-md-9">
    <!-- News front page -->
    {{ $page := .Page.Title | urlize }}

    {{ range $key, $value := .Site.Taxonomies.tags }}
    {{ if eq $key $page }}
    {{ range $value.Pages }}

    <div class="row my-1 p-4 bg-white position-relative">
        <a href="{{.Permalink}}">
            <header>
                <div class="top-right">
                    {{ range first 1 .Params.types }}
                        {{if eq `posts` $key}}
                        <span class="text-dark fas fa-blog pr-1 fs-28 text-green"></span>
                        {{ else if eq `events` $key}}
                        <span class="text-dark fas fa-calendar-day pr-1 fs-28 text-green"></span>
                        {{ else }}
                        <span class="text-dark fas fa-chalckboard-teacher pr-1 fs-28 text-green"></span>
                        {{ end }}
                    {{ end }}
                </div>
                <small class="small-date">{{ .PublishDate.Format "January 2, 2006" }}</small>
                <h4>{{ .Title }}</h4>
                <small class="font-italic text-gray fs-18">by {{ range .Params.authors }}{{ . }}{{ end }}</small>
            </header>
            <hr class="bg-blue">
            <article>
            {{ truncate 200 .Plain }}
            </article>
        </a>
    </div>

    {{ end }}
    {{ end }}
    {{ end }}
    </section>

    <aside class="my-2 col-md-3">
        <div class="ml-5 mt-1 p-1 text-gray">
            {{ range $key, $value := .Site.Taxonomies.tags }}
            <a href="{{ $.Site.BaseURL }}/tags/{{$key}}">
            <span class="small">
            {{ humanize $key }} |
            </span>
            </a>
            {{ end }}
        </div>
    </aside>

</div>
</div>
{{ end }}
