{{ define "content"}}
<div id="_404" class="bg-light vh-90">
    <img src="https://media.giphy.com/media/3boPPdHk2ueo8/source.gif" width="320" height="300"></img>
    <div class="pl-10 d-flex flex-column justify-content-center">
        <h1 class="fs-50 text-dark">There's nothing here...  &#128528;</h1>
        <p class="fs-30 text-beige"><a href="{{.Site.BaseURL}}">Go home!</a></p>
        <a class="mt-1" href="{{.Site.Params.contact.support.link}}">
            <p class="fs-30">{{.Site.Params.contact.support.text}}</p>
         </a>
    </div>
</div>
{{ end }}
