{{ define "content"}}
<div id="_404" class="bg-light vh-90">
    <video width="320" height="440" muted autoplay loop>
        <source src="https://media.giphy.com/media/1irfi6MmcGGc751W16/source.mp4" type="video/mp4">
    </video>
    <div class="pl-10 d-flex flex-column justify-content-center">
        <h1 class="fs-50 text-dark">There's nothing here...  &#128528;</h1>
        <p class="fs-30 text-beige"><a href="{{.Site.BaseURL}}">Go home!</a></p>
        <a class="mt-1" href="{{.Site.Params.contact.support.link}}">
            <p class="fs-30">{{.Site.Params.contact.support.text}}</p>
         </a>
    </div>
</div>
{{ end }}
