{{ define "content" }}
<body lang="en" id="top"  data-spy="scroll" data-offset="0"  data-target="#dots">

<!-- nav dots -->
<!-- <ul id="dots" class="nav nav-dots">
  <li class="nav-item">
    <a data-scroll class="nav-link bg-light" href="#top" data-toggle="tooltip" data-placement="left" title="Hero"></a>
  </li>
  <li class="nav-item">
    <a data-scroll class="nav-link bg-light" href="#section-1" data-toggle="tooltip" data-placement="left" title="Quick Links"></a>
  </li>
  <li class="nav-item">
    <a data-scroll class="nav-link bg-light" href="#section-2" data-toggle="tooltip" data-placement="left" title="News"></a>
  </li>
  <li class="nav-item">
    <a data-scroll class="nav-link bg-light" href="#section-3" data-toggle="tooltip" data-placement="left" title="Showcase"></a>
  </li>
</ul> -->
<!-- / nav dots -->

{{ partial "blocks/hero" . }}
{{ partial "blocks/quick_links" . }}
{{ partial "blocks/events" . }}
<!-- {{ partial "blocks/news" .}} -->
{{ partial "blocks/showcase" . }}

</body>

{{ end }}
