{{ define "navigation" }}
<aside class="col-lg-3 col-xxl-2 p-3 doc-sidebar">
  <div class="sticky">
    <nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
      <div class="d-flex row align-middle">
        <!-- <a class="navbar-brand"><span class="badge badge-dark ml-1">Resources</span></a> -->
        <h2>{{ .Params.Project }}</h2>
        {{ $main_title := .Params.section }}
        {{ $page_title := .Title }}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="page-nav" class="nav flex-column nav-vertical-2">
          {{ range $index, $page := (where $.Site.Pages "Type" .Params.Project) }}
          {{ if ne .Params.weight 0}}
          <li class="nav-item{{ if (eq $index 1) }} active{{ end }}">
            <a class="nav-link" data-toggle="collapse" href="#menu-{{$index}}" role="button" aria-expanded="nav-item{{ if (eq $index 1) }}true{{ end }}" aria-controls="menu-{{$index}}">{{ $page.Title }}</a>
            <div class="collapse{{ if (eq $main_title $page.Params.title ) }} show{{ end }}" id="menu-{{$index}}" data-parent="#page-nav">
              <ul class="nav flex-column">
                {{ if $page.Params.subitems }}
                  {{ range $sub_index, $sub_item := $page.Params.subitems }}
                    <li class="nav-item">
                      <a class="nav-link {{ if eq $page_title .subsection }} active {{ end }}" href="{{ $page.Permalink }}{{ .ref }}">{{ .subsection }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </nav>
    {{ readFile "/themes/gb-theme/static/images/ccv-logo.svg" | safeHTML }}
  </div>
</aside>
{{ end }}

{{ define "content-body" }}

{{ .Content }}

{{ end }}
