<meta charset="utf-8">
<meta name="google-signin-client_id" content="32788701431-c7hg231gslbjte3os81mubi4ph4536ud.apps.googleusercontent.com">

<meta property="og:title" content="{{.Params.tagTitle}}" />
<meta property="og:image" content="{{.Site.BaseURL}}/images/ccv-zdog.svg" />
<meta property="og:description" content="{{.Params.tagDescription}}">
<meta property="og:url" content="{{.Site.BaseURL}}">

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{{.Params.tagTitle}}" />
<meta property="twitter:image" content="{{.Site.BaseURL}}/images/ccv-zdog.svg" />
<meta property="twitter:description" content="{{.Params.tagDescription}}">
<meta property="twitter:url" content="{{.Site.BaseURL}}">

<base href="{{ .Site.BaseURL }}">
<title> {{ .Title }} </title>
<link rel="canonical" href="{{ .Permalink }}">
{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
