<meta charset="utf-8">
<meta name="google-signin-client_id" content="32788701431-c7hg231gslbjte3os81mubi4ph4536ud.apps.googleusercontent.com">
<meta property="og:title" content="{{.Title}}" />
<meta property="og:image" content="{{.Site.BaseURL}}/images/isometric-ccv-square.png" />

<base href="{{ .Site.BaseURL }}">
<title> {{ .Title }} </title>
<link rel="canonical" href="{{ .Permalink }}">
{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
