{{ define "content" }}
<!-- header - yellow container -->
{{ $current_section := .Section }}
<div id="hero-list" class=" bg-yellow text pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex flex-column pt-6 pb-10">
          <h1 class="fs-60"> {{ humanize .Section }} </h1>
          <p class="fs-30">{{ .Params.overview.lead | markdownify }}</p>
        </div>
    </div>
</div>
</div>


<!-- table of contents -->
  <div class="container-fluid overlay-top justify-content-center d-flex">
    <div class="col-lg-6 col-md-10 col-sm-12">
    <ul class="nav nav-toc-page flex-column boxed">
      {{ range .Params.items }}
        <li class="mx-1 nav-item bg-white lift my-1">
            <a class="nav-link" href="{{.Site.BaseURL }}about/#{{.name}}">
                <span class="text-dark fas fa-{{ .icon }} pr-1 fs-24"></span>
                <span class="text-dark fs-20">{{ humanize .name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
    </div>
  </div>


    <div class="container-fluid d-flex justify-content-center py-10 px-0">
        <div class="col-lg-9 col-md-11 col-sm-12">

          <!-- Overview -->
          <header id="overview" class="d-flex align-items-center">
            <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-crow fs-40"></i></span>
            <h1 class="mx-4 text-secondary">Overview</h1>
            <hr class="bg-dark w-40"/>
          </header>

          <article class="d-flex py-6 justify-content-between flex-wrap">
            <div class="col-md-12 py-3">
              <div class="card p-4">
                <p class="fs-20">{{ .Params.overview.text | markdownify }}</p>
                <ul>
                {{ range .Params.overview.list_items }}
                  <li>{{ . }}</li>
                {{ end }}
                </ul>
                {{ .Params.overview.after | markdownify }}
              </div>
            </div>
        </article>

        <!-- People -->
        <header id="people" class="d-flex align-items-center">
          <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-person-booth fs-40"></i></span>
          <h1 class="mx-4 text-secondary">People</h1>
          <hr class="bg-dark w-40"/>
        </header>

        <article class="container-fluid row py-4">
          {{ range .Site.Data.people }}
          <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 card card-background mb-0 mx-0" >
            <div class="image" style="background-image:url('{{"/images/people/gelin.png" | absURL }}')"></div>
            <div class="card-body">
              <h2 class="card-title mb-0 fs-20">{{ .name }}</h2>
              <p class="card-text fs-18">{{ .title }}</p>
              <p class="font-weight-bold text-beige text-small"><span class="icon-users2 pr-1"></span>{{ .team }}</p>
            </div>
          </div>
          {{ end }}
        </article>


        <!-- Publications -->
        <header id="overview" class="d-flex align-items-center">
          <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-book-dead fs-40"></i></span>
          <h1 class="mx-4 text-secondary">Publications</h1>
          <hr class="bg-dark w-40"/>
        </header>

        <div id="citations" class="fs-14 col-md-10 container my-3">
          {{ range sort .Site.Data.publications "pubyear" "desc"}}
          <p>
            {{ $last := sub (len .author) 1 }}
            {{ range $index, $author := .author }}
            <span>{{ $author.family }}, {{ $author.given }}
            {{if ne $index $last}}
            ,
            {{ else }}
            .
            {{ end }}
            </span>
            {{ end }}
            <i>{{ .title }}.</i>
            <span>{{ if .page}}{{ .page }}.{{end}}</span>
            <span>{{if .volume}}{{ .volume }}.{{end}}</span>
            <span class="font-weight-bold">{{if .journal}}{{.journal}}.{{end}}</span>
            <span>{{if .publisher}}{{ .publisher }}.{{end}}</span>
            <span class="font-weight-bold">{{if .pubyear}}{{ .pubyear }}.{{end}}</span>
            {{if .URL}}<a href="{{.URL}}"><span class="fas fa-external-link-square-alt fs-18"></span></a>{{end}}
          </p>
          {{ end }}
        </div>



        <!-- Opportunities -->
        <header id="overview" class="d-flex align-items-center">
          <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-user-circle fs-40"></i></span>
          <h1 class="mx-4 text-secondary">Opportunities</h1>
          <hr class="bg-dark w-40"/>
        </header>


      </div>
    </div>
{{ end }}
